#search {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px;
    outline: none;
}

#search-button {
    border-radius: 15px;
    border: 1px #000 solid;
    position: absolute;
    right: 45px;
    top: 11px;
    height: 26px;
    outline: none;
}

#search-button:active {
    background-color: black;
}

body {
    background-color: #DBF5FA;
}