#app-name {
    font-size: 46px;
    text-align: center;
}

#motto {
    font-size: 24px;
    text-align: center;
}

#logo {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
